.cta {
  margin-top: 14px;
  color: $white;
  text-align: center;
  font-family: "Trebuchet MS", "Arial", sans-serif;
  font-size: 13px;
  font-weight: 400;
}

.cta__buy {
  color: $blue-100;
  cursor: pointer;
  text-decoration: underline;
  text-decoration-style: dotted;
}
